UPSTASH_REDIS_REST_URL=https://welcomed-wahoo-29461.upstash.io
UPSTASH_REDIS_REST_TOKEN=AXMVAAIjcDE0YWYwMDZiYzA2OWM0OWZlOTJhYjQyZDY5OWI0YjcyYnAxMA
KV_URL="rediss://default:AXMVAAIjcDE0YWYwMDZiYzA2OWM0OWZlOTJhYjQyZDY5OWI0YjcyYnAxMA@welcomed-wahoo-29461.upstash.io:6379"
KV_REST_API_URL="https://welcomed-wahoo-29461.upstash.io"
KV_REST_API_TOKEN="AXMVAAIjcDE0YWYwMDZiYzA2OWM0OWZlOTJhYjQyZDY5OWI0YjcyYnAxMA"
KV_REST_API_READ_ONLY_TOKEN="AnMVAAIgcDHmJwyP9Bk_-gglGfQL-BClnmAjNk3SieEIwROHfUkf1Q"
REDIS_URL="rediss://default:AXMVAAIjcDE0YWYwMDZiYzA2OWM0OWZlOTJhYjQyZDY5OWI0YjcyYnAxMA@welcomed-wahoo-29461.upstash.io:6379"
